@import '../../../scss/mixins';
@import '../../../scss/typography/variables';

.footer__main-navigation {

  @include media(mobile) {
    width: 100%;
    margin: 24px 0 0 0;
  }

  &-items {
    display: flex;
    justify-content: space-between;
  }

  &-item {

    a {
      font-size: 18px;
      line-height: 1.3;
      font-weight: 500;

      @include media(mobile) {
        font-size: $font-size-main;
        line-height: $line-height-base;
      }
    }
  }
}
