@import '../../scss/mixins';
@import '../../scss/typography/variables';

.user-navigation {
  font-size: $font-size-main;
  line-height: $line-height-base;
  font-weight: 500;

  @include media(mobile) {
    display: none;
  }

  &__items {
    display: flex;
    align-items: center;
  }

  &__item {
    margin: 0 0 0 24px;
  }
}
