@import '../../scss/variables';

.btn {
  min-height: 40px;
  display: inline-block;
  text-align: center;

  &--primary {
    background-color: $btn-bgcolor-main;
    padding: 10px 24px;
    border-radius: 21px;
  }

  &--transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: rgba(255, 255, 255, .1);
    backdrop-filter: blur(7.5px);
    border-radius: 40%;
    border: none;

    & img {
      width: 24px;
      height: 24px;
    }
  }
}
