@import '../../scss/variables';
@import '../../scss/typography/variables';
@import '../../scss/mixins';

.navigation {
  font-size: $font-size-main;
  line-height: $line-height-base;
  font-weight: 500;
  display: flex;
  align-items: center;


  @include media(mobile) {
    display: none;
  }

  &__items {
    display: flex;
  }

  &__item {
    padding: 0 15px;
    opacity: .7;

    &:hover {
      text-shadow: 0 0 5px $color-main;
      opacity: 1;
    }
  }
}
