hr {
  margin: 40px 0;
  opacity: .7;
}

.footer {
  margin-top: auto;

  &__primary {
    display: flex;
    justify-content: space-between;
  }

  &__secondary {
    display: flex;
    justify-content: space-between;
    opacity: .7;
  }
}

